<br>
<div>Championnats</div>

<div class="button-row">
  <a mat-button routerLink="/championnat">Championnats</a>
</div>
<div class="button-row">
  <a mat-button routerLink="/type-championnat">Type de Championnat</a>
</div>

<br>
<div>Danses</div>

<div class="button-row">
  <a mat-button routerLink="/danse">Danses</a> 
</div>
<div class="button-row">
  <a mat-button routerLink="/categorie">Catégories</a>
</div>
<div class="button-row">
  <a mat-button routerLink="/epoque">Epoques</a>
</div>
<div class="button-row">
  <a mat-button routerLink="/level">Niveaux</a>
</div>
<div class="button-row">
  <a mat-button routerLink="/choregraphe">Choregraphe</a>
</div>

