<h1>Welcome to {{ title }}!</h1>

<mat-toolbar color="primary">

    <button mat-button routerLink="/">
    <mat-icon>home</mat-icon> 
        {{title}}</button>
  
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/podium">Podium</button>
        <button mat-button routerLink="/dashboard">Dashboard</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>
  
  </mat-toolbar>
  
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
    <button mat-menu-item routerLink="/dashboard">??</button>
    <button mat-menu-item routerLink="/edit-championnat">TMP edit-championnat</button>
    <button mat-menu-item routerLink="/setting">Setting</button>
</mat-menu>

<router-outlet></router-outlet>
